# ---- 编译产物 ----
*.exe
*.obj
*.o
*.out
*.ilk
*.pdb
*.idb
*.exp
*.lib
*.dll
*.so
*.dylib

# ---- Visual Studio ----
.vs/
Debug/
Release/
x64/
x86/
*.user
*.suo
*.vcxproj.user
*.sln.docstates

# ---- 系统垃圾 ----
Thumbs.db
Desktop.ini
.DS_Store

# ---- 编辑器 ----
.vscode/
.idea/
*.swp

# ---- 本机工具(不上传) ----
_github-net/